BitReaderWriter.cpp
BitReaderWriter.h
CameraCalibMain.cpp
Experiments.h
ExternGPUPrograms.h
IGHMPhaseCorrelator.cpp
IGHMTestMain.cpp
LMonoSLamMain.cpp
LSlamMain.cpp
LTimer.cpp
LTimer.h
LukeJournalTry.cpp
LukeTesting2016.cpp
LukesSmallObjectsAndFunctions.cpp
LukesSmallObjectsAndFunctions.h
Paper2Source.cpp
Paper2Source2.cpp
Pixel3DSet.cpp
Pixel3DSet.h
Pixel3DVideoInfo
Pixel3DVideoManage.js
R3.cpp
R3.h
README.txt
SIObj.cpp
SIObj.h
Source.cpp
TheVolumePhaseCorrelator.cpp
TheVolumePhaseCorrelator.h
TwoPoints.cpp
TwoPoints.h
VMatF.cpp
VMatF.h
angle_weights_test.txt
angles.txt
*.mp4
*.MPG
*.avi
how to get point cloud from xtionprolive.txt
llCamera.cpp
llCamera.h
ll_gl.cpp
ll_gl.h
locv3.cpp
locv3.h
locv3T.h
locv_algorithms.cpp
locv_algorithms.h
locvpy/
lopenni.cpp
lopenni.h
lukesphdsprojectmain.cpp
main.h
matrixMul.cu
ml.txt
ocv3_video2depth.vcxproj
ocv3_video2depth.vcxproj.filters
ocv3_video2depth.vcxproj.user
one.txt
out.txt
raptor.raptor
raptorgame.cpp
stereo_rectify vs pc_rectify test.txt
x64/
dicta2016.cpp